@tailwind base;
@tailwind components;
@tailwind utilities;

/* set backgroud image */
/* body {
  background-image: url("./assets/bac2.png");
  
} */

.bg{
  background-color: #ffffff;
  background-image:  linear-gradient(#f7f7f7 2px, transparent 2px), linear-gradient(to right, #f7f7f7 2px, #ffffff 2px);
  background-size: 100px 100px;
}


